*{ /*для всех элементов страницы*/
    padding: 0; /*отступ внутри блока*/
    margin: 0; /*отступ от блока наружный*/
    border: 0; /*граница блока*/
}

*,*:before, *:after{ /*все+псевдоклассы до/после*/
	-moz-box-sizing: border-box; /*префикс кроссбраузерный мазила*/
	-webkit-box-sizing: border-box; /*префикс кроссбраузерный вебкит*/
	box-sizing: border-box; /*префикс кроссбраузерный остальные*/ 
    /*border-box - правило браузера для расчета высоты и ширины элементов страницы*/
}

:focus, :active{outline: none;} /*все элементы: наведение/нажато - убрать подчеркивание*/
a:focus, a:active{outline: none;} /*ссылки: наведение/нажато - убрать подчеркивание*/

nav, footer, header, aside{display: block;} /*блочное отображение указанных элементов*/

html, body{ /*выбранные элементы страницы*/
height:100%; /*высота*/
width:100%; /*ширина*/
font-size 100%; /*масштаб шрифта*/
line-height: 1; /*высота строки*/
font-size:14px; /*размер шрифта*/
-ms-text-size-adjust: 100%; /*кроссбраузерные настройки: запрет на самостоятельное увеличение текста*/
-moz-text-size-adjust: 100%; /*кроссбраузерные настройки: запрет на самостоятельное увеличение текста*/
-webkit-text-size-adjust: 100%; /*кроссбраузерные настройки: запрет на самостоятельное увеличение текста*/
}

input, button, textarea{font-family: inherit; /*наследование стиля шрифта от родительского блока*/
} 

input::-ms-clear{display: none;} /*КБ настройки: не отображ*/
button{cursor: pointer;}  /*кнопка - появл руки при наведении курсора*/
button::-moz-focus-inner{padding: 0; border:0;}  /*КБ кнопка при фокусир: откл внутренней пунктирной черной границы/отступа */
a, a:visited{text-decoration: none; color: black;} /*ссылка+ссылка посещ: откл декор текста, черный цвет*/
a:hover{text-decoration: none;} /*откл декор текта при навед на ссылку*/
ul li{list-style: none;}  /*марк список: откл маркеров*/
img{vertical-align: top;} /*изобр: вертик выравнивание по верхнему краю строки */


h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;} /*наследуемый от род размер шрифта, ширина шрифта*/
